@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
  font-family: 'Lato', sans-serif;
}
.dropdown-main{
  padding: 0 !important;
  display: flex;
  align-items: center;
}
.dropdown{
font-size: 15px !important;
color: white !important;
margin: 0 !important;
}
.navbar-buttons{
  padding: 0 !important;
  margin: 0 !important;
  width: 25%;
  display: flex;
justify-content: space-between;
  font-size: 15px;
}
.navbar-li{
  padding: 12px 24px !important;
  list-style: none;
}
.navbar{
    z-index: 10000;
   position: fixed !important;
   top: 0px;
   width: 100%;
  padding: 0 !important;
  background: #000;
  color: white;
  display: flex;
  justify-content: flex-start;
}
.firstpage-img{
  background-image: url( "./chicago.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.img-1sentc{
  font-size: 24px;
  margin: 10px 0;
  color: white;
}
.img-2sentc{
  font-size: 15px;
  margin: 10px 0;
  color: white;
}
.cardspage{
  line-height: 1.5;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px 16px;
}
.cardspage-title{
  letter-spacing: 2px;
  text-align: center;
  color: black;
  margin:10px 0 ;
  font-size: 30px;
}
.cardspage-sentence{
  text-align: center;
  margin: 15px 0;
  font-size: 15px;
  font-style: italic;
  opacity: 50%;
}
.cardspage-titlezone{
  display: flex;
  flex-direction: column;
}
.cardspage-text{
  font-size: 15px;
  margin: 15px 0;
      text-align: justify!important;
      font-weight: 500;
}
.cardspage-cards{
  display: flex;
  justify-content: space-between;
  box-sizing: inherit;
  padding: 32px 0;

}
.cardspage-img{
  width: 60%;
  margin-bottom: 16px;
}
.img-name{
  margin: 15px 0 ;
  font-size: 15px;
}
.cardspage-card{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tour{
  background: #000;
  padding: 64px 16px;
  display: flex;
flex-direction: column;
align-items: center;
}
.tour-title{
  font-size: 30px;
  margin: 10px 0;
  color: white;
  letter-spacing: 2px;
}
.tour-sentence{
  color: white;
  margin: 15px 0;
  font-size: 15px;
  font-style: italic;
  opacity: 50%;
}
.tour-dates{
  border-color: #000;
  border-style:inset;
  border-width: 0.05px;
  padding: 8px 16px;
  padding-right: 580px;
  background: white;
  display: flex;
  flex-direction: row;
}
.tourdates-month{
  margin: 0 !important;
  padding: 0 !important;
   font-size: 15px;
  opacity: 50%;
}
.tourdates-avability{
  padding: 0 8px;
  font-size: 15px;
  margin: 0 !important;
  margin-left: 16px !important;
  background: #F44336;
}
.tour-cards{
  background: #000;
  padding: 32px 8px;
  display: flex;
  flex-direction: row;
justify-content: center;
}
.tour-card{
  margin: 0 8px !important;
  padding: 0 !important;
background: white;
color: black;
}
.tour-card-date{
opacity: 50%;
}
.tour-card-bottom{
  width: 50%;
  margin: 0 !important;
  padding: 0.15px 16px !important;
}
.tour-card{
  border-radius: 0 !important;
  width: 20% !important;
}
.tour-card-button{
  background: #000 !important;
  color: white !important;
  border-radius: 0 !important;
}
.lastpage{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 64px 16px;
padding-bottom: 80px !important;
}

.form{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.inputs{
  display: flex;
  flex-direction: row;
}
.input{
  border-radius: 0 !important;
  border-width: 0.01px;
  padding: 8px;
}
.input2{
    border-radius: 0 !important;
  border-width: 0.01px;
  padding: 8px;
width: 100%;
margin-top: 20px;
}
.lastpage-btn{
  width: 60px;
  display: flex;
  justify-content: center;
  background: #000;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 16px;
  margin-top: 16px;
}
.lastpage-btn:hover{
  text-decoration: none;
  background:grey;
  color: black;
}
.image{
  width: 100%;
filter:grayscale(50%);
}
.img-word{
  display: flex;
  justify-content: center;
  padding: 64px 16px ;
  font-size: 15px;
  opacity: 70%;
}
.img-btn{
  margin-left:3px;
  color: #000;
   font-size: 15px;
  opacity: 70%;
  text-decoration: underline;
}
.img-btn:hover{
  margin-left:3px;
  color: #000;
   font-size: 15px;
  opacity: 70%;
  text-decoration: underline;
}


















